<div class="container-fluid">
    <div class="modal-header">
        <h4 class="modal-title">{{title}}</h4>
    </div>
    <div class="modal-body row">
        <div class="form-group">
            <p>
                {{message}}
            </p>
        </div>
    </div>
    <div class="modal-footer">
        <div class="pull-right">
            <button class="btn btn-default" ng-click="closeThisDialog()">OK</button>
        </div>
    </div>
</div>