<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="#" class="navbar-brand">breezzo</a>
        </div>
        <div class="collapse navbar-collapse">
            <div class="navbar-form navbar-right">
                <div class="form-group">
                    <input type="text"
                           placeholder="Поиск"
                           class="form-control"
                            ng-model="model.searchText">
                </div>
                <button type="button"
                        class="btn btn-default"
                        ng-click="search(model)">Искать</button>
            </div>
        </div>
    </div>
</nav>