<div class="container-fluid" ng-class="{'disabled': locked}">
    <div class="modal-header">
        <h4 class="modal-title">Загрузка изображения</h4>
    </div>
    <div class="modal-body row">
        <div class="form-group">
            <table class="table">
                <colgroup>
                    <col width="50%">
                    <col width="23%">
                    <col width="23%">
                    <col width="*">
                </colgroup>
                <thead>
                <tr>
                    <th>Наименование</th>
                    <th>Размер</th>
                    <th>Прогресс</th>
                    <th>Статус</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="item in uploader.queue">
                    <td><strong>{{ item.file.name }}</strong></td>
                    <td nowrap>{{ item.file.size/1024|number:2 }} KB</td>
                    <td>
                        <div class="progress" style="margin-bottom: 0;">
                            <div class="progress-bar" role="progressbar" ng-style="{ 'width': item.progress + '%' }"></div>
                        </div>
                    </td>
                    <td class="text-center">
                        <span ng-show="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
                        <span ng-show="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
                        <span ng-show="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
                    </td>
                </tr>
                </tbody>
            </table>
            <div>
                Общий прогресс:
                <div class="progress" style="">
                    <div class="progress-bar" role="progressbar" ng-style="{ 'width': uploader.progress + '%' }"></div>
                </div>
            </div>
            <label class="uploadbutton">
                <div class="btn btn-default" type="button">Добавить</div>
                <input nv-file-select
                       multiple
                       uploader="uploader"
                       id="imageFile"
                       type="file"
                       class="fileupload" />
            </label>

        </div>
    </div>
    <div class="modal-footer">
        <div class="pull-right">
            <button class="btn btn-default" ng-click="loadImage()">Сохранить</button>
            <button class="btn btn-default" ng-click="closeThisDialog()">Отмена</button>
        </div>
    </div>
</div>