<div class="main-form-view">
    <div class="pad1">
        <button type="button"
                class="btn btn-default"
                ng-show="model.previous"
                ng-click="back()">Назад</button>

        <button type="button"
                class="btn btn-default navbar-btn"
                ng-show="model.id"
                ng-click="loadImage()">
            Загрузить
        </button>
    </div>
    <div class="album-view" ng-repeat="album in model.subAlbums" ng-dblclick="openAlbum(album)">
        <div class="album-preview"></div>
        <div class="album-name">{{album.name + $index}}</div>
    </div>
    <div class="album-view" ng-repeat="image in model.images">
        <div image-preview data-image-index="{{$index}}" image="image"></div>
    </div>
</div>